#header {
    color: white;
    background-color: #990000;
    margin-bottom: 20px;
}

#info {
    margin-bottom: 20px;
}

a, h2 {
    /* color: #990000; */
}

.list-icon {
    position: relative;
    right: 5px;
}
